@page "/"
@using Microsoft.AspNetCore.Components.Sections
@using PersonalWebAppPage.Components

@using Section = PersonalWebAppPage.Shared.Enums.LayoutSection;

<PageTitle>Home</PageTitle>

<article class="px-3 py-5">
    <div class="container single-col-max-width">
        <header class="blog-post-header">
            <h2 class="title mb-2">Why Every Developer Should Have A Blog</h2>
            <div class="meta mb-3">
                <span class="date">Published 2 days ago</span>
                <span class="time">5 min read</span>
                <span class="comment">
                    <a class="text-link" href="#">4 comments</a>
                </span>
            </div>
        </header>

        <div class="blog-post-body">
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
            <p>prueba bla bla bla</p>
        </div>
    </div>
</article>